name: todo-app-deployment
on: 
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '**'
      - '!kubernetes/**'
      - '!.github/workflows/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: docker/setup-buildx-action@v3
      
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/todoapp:${{github.run_id}}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        repository: ${{ secrets.DOCKER_USERNAME }}/kubernetes-manifests

    - name: Updating deployment file with new image tag
      run: |
        sed -i 's|image: ${{ secrets.DOCKER_USERNAME }}/todoapp:.*|image: ${{ secrets.DOCKER_USERNAME }}/todoapp:${{ github.run_id }}|g' $GITHUB_WORKSPACE/kubernetes-manifests/todo-app/deployment.yaml
    - name: Commit and Push changes
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "
        git add .
        git commit -m "Update todoapp image to ${{ github.run_id }}"
        git push origin master
        