name: todo-app-deployment
on: 
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - '**'
      - '!kubernetes/**'
      - '!.github/workflows/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: docker/setup-buildx-action@v3
      
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/todoapp:${{github.run_id}}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        repository: ${{ secrets.DOCKER_USERNAME }}/todo_artifacts
        token: ${{ secrets.REPO_TOKEN }}

    - name: Updating deployment file with new image tag
      run: |
          sed -i -E \
          "s|(image:\s*${{ secrets.DOCKER_USERNAME }}/todoapp:).*|\1${{ github.run_id }}|" \
          deployment.yaml

    - name: Commit and Push changes
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"
        git add deployment.yaml
        git commit -m "Update todoapp image to ${{ github.run_id }}" || echo "No changes to commit"
        git push origin HEAD
        